@font-face
    font-family: 'Gilroy-Regular'
    src: url(../fonts/Gilroy/Gilroy-Regular.woff)

@font-face
    font-family: 'Gilroy-Medium'
    src: url(../fonts/Gilroy/Gilroy-Medium.woff)

@font-face
    font-family: 'Gilroy-SemiBold'
    src: url(../fonts/Gilroy/Gilroy-SemiBold.woff)

@font-face
    font-family: 'Otomarine'
    src: url(../fonts/Otomarine/Otomarine.woff)