@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s linear;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.about-text {
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  text-align: left;
  letter-spacing: 0.003em;
  font-family: Gilroy-Regular, sans-serif;
}
.about-text__text {
  margin-bottom: 26px;
}
.about-text__list {
  margin-bottom: 25px;
}
.about-text__list li {
  list-style-type: disc;
  list-style-position: inside;
}

.breadcrumbs {
  padding: 20px 0 23px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.breadcrumbs li a {
  color: #8b8b8b;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}

.bonuses-list__header {
  padding-bottom: 38px;
}
.bonuses-list__header .page-title {
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
  letter-spacing: -0.01em;
}
.bonuses-list__header .page-subtitle {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  width: 49%;
  margin-top: 12px;
}

.top-casino {
  padding-bottom: 80px;
}
.top-casino__filter {
  overflow: hidden;
  position: relative;
}
.top-casino__filter .top-casino__filter-wrap::-webkit-scrollbar {
  display: none;
}
.top-casino__filter-wrap {
  overflow-x: scroll;
  position: relative;
  width: calc(100% - 80px);
}
.top-casino__filter-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: -20px 10px 10px rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-casino__filter-btns .left-btn,
.top-casino__filter-btns .right-btn {
  mask-image: url("../img/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 9px;
  height: 13px;
  cursor: pointer;
}
.top-casino__filter-btns .left-btn {
  transform: rotate(180deg);
  background-color: #C8C8C8;
  margin-right: 33px;
}
.top-casino__filter-btns .right-btn {
  background-color: #050A0A;
}
.top-casino__filter-list {
  width: max-content;
  display: flex;
}
.top-casino__filter-item {
  font-size: 14px;
  color: #8b8b8b;
  border: 1px solid #E9E9E9;
  border-radius: 100px;
  padding: 12px 16px 9px;
  margin-right: 8px;
  cursor: pointer;
}
.top-casino__filter-item:last-child {
  margin-right: 0;
}
.top-casino__filter-item:hover {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.top-casino__filter .active {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.top-casino__filter .filter-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 10px 0 0;
}
.top-casino__filter .filter-forbidden:before {
  background: url("../img/forbidden-icon.png") no-repeat 0 0/contain;
}
.top-casino__filter .filter-checked:before {
  background: url("../img/checked-icon.png") no-repeat 0 0/contain;
}
.top-casino__filter .filter-welcome:before {
  background: url("../img/welcome-icon.png") no-repeat 0 0/contain;
}
.top-casino__filter .filter-money:before {
  background: url("../img/money-icon.png") no-repeat 0 0/contain;
}
.top-casino__head {
  display: flex;
  padding: 35px 0 23px 30px;
  letter-spacing: 0.05em;
}
.top-casino__head-item {
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 12px;
  color: #8b8b8b;
  text-transform: uppercase;
}
.top-casino__head-item:nth-child(1) {
  width: 31.5%;
}
.top-casino__head-item:nth-child(2) {
  width: 25.2%;
}
.top-casino__head-item:nth-child(3) {
  width: 14.7%;
}
.top-casino__list {
  padding: 0 40px;
}
.top-casino__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  margin: 0 -10px;
  border-bottom: 1px solid #ebebeb;
}
.top-casino__list .first {
  background: #f8f8f8;
}
.top-casino__list .second {
  background: rgba(248, 248, 248, 0.6);
}
.top-casino__list .third {
  background: rgba(248, 248, 248, 0.2);
}
.top-casino__list .first,
.top-casino__list .second,
.top-casino__list .third {
  margin: 0 -40px;
  padding: 25px 30px;
}
.top-casino__name {
  display: flex;
  align-items: center;
  width: 320px;
  max-width: 320px;
  margin-right: 10px;
}
.top-casino__name-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.top-casino__name-wrap {
  margin-left: 20px;
}
.top-casino__name-title {
  font-size: 20px;
  color: #050A0A;
}
.top-casino__name-subtitle {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 6px;
}
.top-casino__bonus, .top-casino__deposit, .top-casino__turnover {
  max-width: 250px;
  width: 250px;
  margin-right: 10px;
}
.top-casino__bonus p, .top-casino__deposit p, .top-casino__turnover p {
  font-size: 18px;
  color: #050A0A;
}
.top-casino__bonus p + p, .top-casino__deposit p + p, .top-casino__turnover p + p {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 6px;
}
.top-casino__bonus-mob, .top-casino__deposit-mob, .top-casino__turnover-mob {
  display: none;
}
.top-casino__deposit, .top-casino__turnover {
  max-width: 130px;
  width: 130px;
}
.top-casino__buttons {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.top-casino__buttons-play {
  padding: 12px 30px 11px;
}

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.paginator .prev,
.paginator .next {
  padding-top: 0;
}
.paginator .prev:before,
.paginator .next:before {
  content: "";
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 8px;
  height: 10px;
  background-color: #050A0A;
}
.paginator .prev:hover:before,
.paginator .next:hover:before {
  background-color: #FFFFFF;
}
.paginator .prev {
  margin-right: 20px;
}
.paginator .prev:before {
  mask-image: url("../img/arrow-right.svg");
  transform: rotate(180deg);
}
.paginator .next {
  margin-left: 20px;
}
.paginator .next:before {
  mask-image: url("../img/arrow-right.svg");
}
.paginator__item {
  width: 42px;
  height: 42px;
  border: 1px solid #ebebeb;
  margin-right: -1px;
  background: #FFFFFF;
  font-size: 16px;
  color: #050A0A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}
.paginator__item:hover {
  color: #FFFFFF;
  background: #149E4C;
  border-color: #149E4C;
  cursor: pointer;
}
.paginator .active-page {
  color: #FFFFFF;
  background: #149E4C;
  border-color: #149E4C;
}
.paginator .forbidden:before {
  background-color: #BFBFBF;
}
.paginator .forbidden:hover {
  color: #050A0A;
  background: #FFFFFF;
  border-color: #ebebeb;
  cursor: default;
}
.paginator .forbidden:hover:before {
  background-color: #BFBFBF;
}

.faq {
  padding: 83px 0 100px;
  text-align: center;
  background: #f8f8f8;
}
.faq .section-title {
  margin-bottom: 12px;
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.faq .section-subtitle {
  width: 63%;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin: 0 auto;
}
.faq__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.faq__list {
  width: 49.5%;
}
.faq__list-item {
  list-style: none;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #FFFFFF;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}
.faq__list-item:hover {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item summary::-webkit-details-marker {
  display: none;
}
.faq__list-item > summary {
  list-style: none;
}
.faq__list-item[open] {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item[open] > summary:before {
  transform: rotate(180deg);
}
.faq__list-item-title {
  font-size: 16px;
  color: #050A0A;
  outline: none;
  position: relative;
  padding: 27px 60px 24px 30px;
}
.faq__list-item-title:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: 14px 9px;
  background-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: block;
  position: absolute;
  top: 45%;
  right: 28px;
}
.faq__list-item-text {
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  padding: 0 30px 30px;
}

.seo-text {
  padding: 82px 0 53px;
}
.seo-text .section-title {
  font-family: Otomarine, sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: #050A0A;
  margin-bottom: 9px;
}

@media screen and (max-width: 1200px) {
  .bonuses-list__header {
    padding: 0 15px 38px;
  }
  .bonuses-list .top-casino {
    padding: 0 15px 80px;
  }
  .bonuses-list .top-casino__head {
    padding: 32px 0 22px 10px;
  }
  .bonuses-list .top-casino__head-item:nth-child(1) {
    width: 28.5%;
  }
  .bonuses-list .top-casino__head-item:nth-child(2) {
    width: 26.6%;
  }
  .bonuses-list .top-casino__head-item:nth-child(3) {
    width: 16%;
  }
  .bonuses-list .top-casino__list {
    padding: 0;
  }
  .bonuses-list .top-casino__list-item {
    padding: 25px 0;
    margin: 0;
  }
  .bonuses-list .top-casino__list .first,
.bonuses-list .top-casino__list .second,
.bonuses-list .top-casino__list .third {
    padding: 25px 15px;
    margin: 0 -15px;
  }
  .bonuses-list .top-casino__name {
    width: 260px;
    max-width: 260px;
  }
  .bonuses-list .top-casino__bonus {
    width: 235px;
  }
  .bonuses-list .top-casino__buttons-review {
    padding: 13px 30px 10px;
  }
  .bonuses-list .seo-text {
    padding: 82px 15px 53px;
  }
  .bonuses-list .faq {
    padding: 83px 15px 80px;
  }
}
@media screen and (max-width: 1023px) {
  .bonuses-list__header .page-title {
    font-size: 36px;
    line-height: 40px;
  }
  .bonuses-list__header .page-subtitle {
    width: 100%;
  }
  .bonuses-list .top-casino {
    padding: 0 15px 50px;
  }
  .bonuses-list .top-casino__filter-btns {
    height: 36px;
  }
  .bonuses-list .top-casino__filter-item {
    padding: 10px 16px 7px;
  }
  .bonuses-list .top-casino__filter .filter-icon:before {
    width: 15px;
    height: 15px;
    margin: -1px 7px 0 0;
  }
  .bonuses-list .top-casino__head {
    padding: 32px 0 15px 0;
  }
  .bonuses-list .top-casino__head-item {
    font-size: 10px;
  }
  .bonuses-list .top-casino__head-item:nth-child(1) {
    width: 29.5%;
  }
  .bonuses-list .top-casino__head-item:nth-child(2) {
    width: 28.2%;
  }
  .bonuses-list .top-casino__head-item:nth-child(3) {
    width: 14.6%;
  }
  .bonuses-list .top-casino__list-item {
    padding: 20px 0;
  }
  .bonuses-list .top-casino__list .first,
.bonuses-list .top-casino__list .second,
.bonuses-list .top-casino__list .third {
    padding: 20px 15px;
  }
  .bonuses-list .top-casino__name {
    max-width: 200px;
    width: 200px;
  }
  .bonuses-list .top-casino__name-img {
    width: 40px;
    height: 40px;
  }
  .bonuses-list .top-casino__name-wrap {
    margin-left: 13px;
  }
  .bonuses-list .top-casino__name-title {
    font-size: 16px;
    line-height: 18px;
  }
  .bonuses-list .top-casino__name-subtitle {
    font-size: 12px;
    margin-top: 4px;
    line-height: 18px;
  }
  .bonuses-list .top-casino__bonus {
    max-width: 190px;
    width: 190px;
  }
  .bonuses-list .top-casino__bonus p, .bonuses-list .top-casino__deposit p, .bonuses-list .top-casino__turnover p {
    font-size: 16px;
    line-height: 18px;
  }
  .bonuses-list .top-casino__bonus p + p, .bonuses-list .top-casino__deposit p + p, .bonuses-list .top-casino__turnover p + p {
    font-size: 12px;
    margin-top: 4px;
  }
  .bonuses-list .top-casino__deposit, .bonuses-list .top-casino__turnover {
    max-width: 90px;
    width: 90px;
  }
  .bonuses-list .top-casino__buttons-play {
    padding: 11px 20px 8px;
    font-size: 12px;
  }
  .bonuses-list .seo-text {
    padding: 52px 15px 35px;
  }
  .bonuses-list .faq {
    padding: 56px 15px 60px;
  }
  .bonuses-list .faq__wrap {
    margin-top: 30px;
  }
  .bonuses-list .faq__list-item-title {
    padding: 16px 45px 13px 20px;
    font-size: 15px;
  }
  .bonuses-list .faq__list-item-title:before {
    right: 20px;
  }
  .bonuses-list .faq__list-item-text {
    padding: 0 20px 30px;
  }
}
@media screen and (max-width: 767px) {
  .about-text {
    font-size: 14px;
    line-height: 20px;
  }

  .bonuses-list__header .page-title {
    font-size: 24px;
    line-height: 32px;
  }
  .bonuses-list__header .page-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .bonuses-list .top-casino {
    padding: 0 15px 40px;
  }
  .bonuses-list .top-casino__filter {
    margin-right: -15px;
  }
  .bonuses-list .top-casino__filter-item {
    margin-right: 6px;
  }
  .bonuses-list .top-casino__filter-btns {
    display: none;
  }
  .bonuses-list .top-casino__filter-wrap {
    width: 100%;
  }
  .bonuses-list .top-casino__head {
    display: none;
  }
  .bonuses-list .top-casino__list {
    margin: 20px -15px 0;
  }
  .bonuses-list .top-casino__list-item {
    padding: 15px;
  }
  .bonuses-list .top-casino__list .first,
.bonuses-list .top-casino__list .second,
.bonuses-list .top-casino__list .third {
    margin: 0;
    padding: 15px;
  }
  .bonuses-list .top-casino__name {
    width: 150px;
    max-width: 150px;
    margin-right: 10px;
  }
  .bonuses-list .top-casino__name-wrap {
    margin-left: 10px;
  }
  .bonuses-list .top-casino__name-img {
    width: 38px;
    height: 38px;
  }
  .bonuses-list .top-casino__name-title {
    font-size: 14px;
    line-height: 16px;
  }
  .bonuses-list .top-casino__name-subtitle {
    margin-top: 2px;
    line-height: 16px;
  }
  .bonuses-list .top-casino__bonus {
    width: 90px;
    max-width: 90px;
  }
  .bonuses-list .top-casino__bonus-desk {
    display: none;
  }
  .bonuses-list .top-casino__bonus-mob {
    display: block;
  }
  .bonuses-list .top-casino__bonus p {
    font-size: 14px;
    line-height: 16px;
  }
  .bonuses-list .top-casino__bonus p + p {
    margin-top: 2px;
  }
  .bonuses-list .top-casino__deposit, .bonuses-list .top-casino__turnover {
    display: none;
  }
  .bonuses-list .top-casino__buttons-play {
    padding: 11px 10px 8px;
  }
  .bonuses-list .top-casino .paginator {
    margin-top: 30px;
  }
  .bonuses-list .seo-text {
    padding: 40px 15px 25px;
  }
  .bonuses-list .seo-text .section-title {
    font-size: 19px;
    line-height: 25px;
  }
  .bonuses-list .faq {
    padding: 40px 15px 40px;
  }
  .bonuses-list .faq .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .bonuses-list .faq .section-subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .bonuses-list .faq__wrap {
    flex-direction: column;
  }
  .bonuses-list .faq__list {
    width: 100%;
  }
  .bonuses-list .faq__list-item {
    margin-right: 0;
  }
  .bonuses-list .faq__list-item-title {
    font-size: 14px;
    padding: 16px 50px 13px 20px;
  }
}
@media screen and (max-width: 374px) {
  .bonuses-list .breadcrumbs {
    padding: 20px 0 13px;
  }
  .bonuses-list .top-casino__name {
    width: 120px;
    max-width: 120px;
  }
  .bonuses-list .top-casino__bonus {
    width: 60px;
    max-width: 60px;
  }
  .bonuses-list .top-casino__buttons-play {
    padding: 9px 8px 6px;
  }
}

/*# sourceMappingURL=main.css.map */
