@media screen and (max-width: 1200px)
  .bonuses-list
    &__header
      padding: 0 15px 38px
    .top-casino
      padding: 0 15px 80px
      &__head
        padding: 32px 0 22px 10px
        &-item
          &:nth-child(1)
            width: 28.5%
          &:nth-child(2)
            width: 26.6%
          &:nth-child(3)
            width: 16%
      &__list
        padding: 0
        &-item
          padding: 25px 0
          margin: 0
        .first,
        .second,
        .third
          padding: 25px 15px
          margin: 0 -15px
      &__name
        width: 260px
        max-width: 260px
      &__bonus
        width: 235px
      &__buttons
        &-review
          padding: 13px 30px 10px
    .seo-text
      padding: 82px 15px 53px
    .faq
      padding: 83px 15px 80px

@media screen and (max-width: 1023px)
  .bonuses-list
    &__header
      .page-title
        font-size: 36px
        line-height: 40px
      .page-subtitle
        width: 100%
    .top-casino
      padding: 0 15px 50px
      &__filter
        &-btns
          height: 36px
        &-item
          padding: 10px 16px 7px
        .filter-icon
          &:before
            width: 15px
            height: 15px
            margin: -1px 7px 0 0
      &__head
        padding: 32px 0 15px 0
        &-item
          font-size: 10px
          &:nth-child(1)
            width: 29.5%
          &:nth-child(2)
            width: 28.2%
          &:nth-child(3)
            width: 14.6%
      &__list
        &-item
          padding: 20px 0
        .first,
        .second,
        .third
          padding: 20px 15px
      &__name
        max-width: 200px
        width: 200px
        &-img
          width: 40px
          height: 40px
        &-wrap
          margin-left: 13px
        &-title
          font-size: 16px
          line-height: 18px
        &-subtitle
          font-size: 12px
          margin-top: 4px
          line-height: 18px
      &__bonus
        max-width: 190px
        width: 190px
      &__bonus,
      &__deposit,
      &__turnover
        p
          font-size: 16px
          line-height: 18px
        p+p
          font-size: 12px
          margin-top: 4px
      &__deposit,
      &__turnover
        max-width: 90px
        width: 90px
      &__buttons
        &-play
          padding: 11px 20px 8px
          font-size: 12px
    .seo-text
      padding: 52px 15px 35px
    .faq
      padding: 56px 15px 60px
      &__wrap
        margin-top: 30px
      &__list
        &-item
          &-title
            padding: 16px 45px 13px 20px
            font-size: 15px
            &:before
              right: 20px
          &-text
            padding: 0 20px 30px

@media screen and (max-width: 767px)
  .about-text
    font-size: 14px
    line-height: 20px
  .bonuses-list
    &__header
      .page-title
        font-size: 24px
        line-height: 32px
      .page-subtitle
        font-size: 14px
        line-height: 20px
    .top-casino
      padding: 0 15px 40px
      &__filter
        margin-right: -15px
        &-item
          margin-right: 6px
        &-btns
          display: none
        &-wrap
          width: 100%
      &__head
        display: none
      &__list
        margin: 20px -15px 0
        &-item
          padding: 15px
        .first,
        .second,
        .third
          margin: 0
          padding: 15px
      &__name
        width: 150px
        max-width: 150px
        margin-right: 10px
        &-wrap
          margin-left: 10px
        &-img
          width: 38px
          height: 38px
        &-title
          font-size: 14px
          line-height: 16px
        &-subtitle
          margin-top: 2px
          line-height: 16px
      &__bonus
        width: 90px
        max-width: 90px
        &-desk
          display: none
        &-mob
          display: block
        p
          font-size: 14px
          line-height: 16px
        p+p
          margin-top: 2px
      &__deposit,
      &__turnover
        display: none
      &__buttons
        &-play
          padding: 11px 10px 8px
      .paginator
        margin-top: 30px
    .seo-text
      padding: 40px 15px 25px
      .section-title
        font-size: 19px
        line-height: 25px
    .faq
      padding: 40px 15px 40px
      .section-title
        font-size: 24px
        line-height: 32px
      .section-subtitle
        font-size: 14px
        line-height: 20px
        width: 100%
      &__wrap
        flex-direction: column
      &__list
        width: 100%
        &-item
          margin-right: 0
          &-title
            font-size: 14px
            padding: 16px 50px 13px 20px

@media screen and (max-width: 374px)
  .bonuses-list
    .breadcrumbs
      padding: 20px 0 13px
    .top-casino
      &__name
        width: 120px
        max-width: 120px
      &__bonus
        width: 60px
        max-width: 60px
      &__buttons
        &-play
          padding: 9px 8px 6px