.bonuses-list
  .bonuses-list__header
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li Category
      h1.page-title All Bonuses Of Casino
      p.page-subtitle.
        Check out our hand-picked list of favorites for the
        month that has the most generous no deposit, free
        spins and / or matching bonuses:
  .bonuses-list__content
    .top-casino
      .content-center
        .top-casino__filter
          .top-casino__filter-btns
            .left-btn
            .right-btn
          .top-casino__filter-wrap
            ul.top-casino__filter-list
              li.top-casino__filter-item.border-btn.active All
              li.top-casino__filter-item.border-btn.filter-icon.filter-checked Free spins
              li.top-casino__filter-item.border-btn.filter-icon.filter-forbidden Without Deposit
              li.top-casino__filter-item.border-btn.filter-icon.filter-welcome Welcome bonus
              li.top-casino__filter-item.border-btn.filter-icon.filter-money Money for registration
              li.top-casino__filter-item.border-btn For high rollers
              li.top-casino__filter-item.border-btn Purchased bonuses
              li.top-casino__filter-item.border-btn 200 free Spins
              li.top-casino__filter-item.border-btn Money for registration
              li.top-casino__filter-item.border-btn For high rollers
              li.top-casino__filter-item.border-btn Purchased bonuses
              li.top-casino__filter-item.border-btn 200 free Spins
        .top-casino__head
          .top-casino__head-item casino name
          .top-casino__head-item bonus
          .top-casino__head-item Min deposit
          .top-casino__head-item Turnover
        ul.top-casino__list
          li.top-casino__list-item.first
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item.second
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item.third
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
          li.top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Parimatch Casino
                .top-casino__name-subtitle Welcome Bonus
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free spins
                p Free spins
              .top-casino__bonus-mob
                p 1,000 €
                p 200 free spins
            .top-casino__deposit
              p $35
              p Min Deposit
            .top-casino__turnover
              p 30x
              p Bonus Amount
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Get bonus
        .paginator
          .paginator__item.prev.unactive.forbidden
          .paginator__item.active-page 1
          .paginator__item 2
          .paginator__item 3
          .paginator__item.forbidden ...
          .paginator__item 10
          .paginator__item.next
    .faq
      .content-center
        h2.section-title FAQ
        p.section-subtitle.
          The best new casinos added to our listing, including detailed
          casino reviews and ratings, bonuses, promotions.
        .faq__wrap
          .faq__list
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What age do you need to be to gamble online?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What kinds of games are available?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                How do I know if I'm addicted to gambling?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text
          .faq__list
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What age do you need to be to gamble online?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title What kinds of games are available?
              p.faq__list-item-text.
                There are some warning signs if you're concerned that you or
                someone you know may have a gambling addiction. If you're hiding
                your habit from other people, maxing out your bank account and
                getting into debt as a result of your real money gambling the
                chances are you may be addicted. Likewise, if you're bunking off
                work to gamble, sneaking around to gamble, and thinking about real
                money gaming 24/7 the likelihood is your hobby has turned into a
                habit and you should seek help.
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                How do I know if I'm addicted to gambling?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text
            details.faq__list-item.box-shadow
              summary.faq__list-item-title.
                What age do you need to be to gamble online?
              p.faq__list-item-text.
                Test text
    .seo-text.about-text
      .content-center
        h2.section-title Best India's Bonuses
        p.about-text__text.
          The best new casinos added to our listing, including
          detailed casino reviews and ratings, bonuses, promotions,
          and experiences by real players right at your fingertips.
          Here you can find the top online casinos we have included
          in our database just recently. We update this list
          frequently so remember to keep an eye on it and don’t
          miss out on a chance to try your luck at some of the most
          amazing casinos in the world.
        p.about-text__text.
          With a competitive market like the online casino industry,
          you cay never get bored for the choice of online casinos
          is incredibly vast. There are new online casinos emerging
          every day, so there is always a new place where you can
          try your luck.
        p.about-text__text.
          Highlighted below are some of the criteria used to evaluate
          whether a casino platform is well suited for our readers:
        ul.about-text__list
          li First impression of the site
          li The process of signing up for the site
          li Game selection available on the platform
          li Bonuses and promotions offered
          li Safety and security
          li Online customer support
          li Withdrawal / withdrawal procedure
        p.about-text__text.
          It is expected that some of the sections mentioned above
          will overlap. This is why, after writing a comprehensive
          review of a casino site, we take a fresh look at the sites
          and examine as a whole. Once that is done, we will give the
          site a review.